# Python
__pycache__/
*.py[cod]
.venv/
dist/
build/
*.egg-info/

# Node
node_modules/
.next/
dist/

# Base de datos local (NUNCA subir al repo)
*.db
*.sqlite
*.sqlite3

# Variables de entorno reales
.env

# OS
.DS_Store
Thumbs.db

# Virtual env backend
backend/.venv/
